/IglesiaMilagorsa/.gradle
/IglesiaMilagorsa/local.properties
/IglesiaMilagorsa/.idea/workspace.xml
/IglesiaMilagorsa/.idea/libraries
/IglesiaMilagorsa/.DS_Store
/IglesiaMilagorsa/build
/IglesiaMilagorsa/captures
